.content {
  text-align: center;
}

/* Carousel Container */

.carousel-wrapper {
  display: block;
  width: 100%;
}

.carousel-grid {
  display: grid;
  grid-template-columns: 50px 690px 50px;
  grid-template-rows: 1fr 50px;
  grid-template-areas:
    'back img fwd'
    'nav nav nav';
  justify-content: center;
  align-items: center;
  justify-items: center;
}

/* Direction Arrows */
.move-back {
  grid-area: back;
}

.move-forward {
  grid-area: fwd;
}
/* Carousel Images */

.images {
  grid-area: img;
}

.images img {
  display: none;
  height: 1000px;
}

.images .active {
  display: block;
}

/* Carousel Dot Navigation */

.nav-dots {
  grid-area: nav;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: grey;
  transition: 600ms;
  margin: 5px;
  display: inline-block;
}
.dot:hover {
  background-color: blue;
}
